@import '../service/service'

@import 'normalize'

/* common styles content */
html
    font-size: 100%
    font-size: $base-font-size
    @media (max-width: 1199px)
        font-size: $base-font-size * 0.94
    @media (max-width: 991px)
        font-size: $base-font-size * 0.88
    @media (max-width: 767px)
        font-size: $base-font-size * 0.82
    @media (max-width: 575px)
        font-size: $base-font-size * 0.76

body
    line-height: 1
    font-family: $base-font-family, sans-serif
    background-color: color(grey-light)

ul
    list-style: none
    margin: 0
    padding: 0

// перенос длинных слов
*
    word-break: break-word
    transition: color 0.3s, background-color 0.3s
