@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src:
        url('../fonts/icomoon.ttf?yp3li4') format('truetype'),
        url('../fonts/icomoon.woff?yp3li4') format('woff'),
        url('../fonts/icomoon.svg?yp3li4#icomoon') format('svg');
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
  &-bookmark:before {
    content: "\e900";
  }
  &-check:before {
    content: "\e901";
  }
  &-heart:before {
    content: "\e902";
  }
  &-search:before {
    content: "\e903";
  }
  &-sound-off:before {
    content: "\e904";
  }
  &-sound-on:before {
    content: "\e905";
  }
  &-bookmark-filled:before {
    content: "\e906";
  }
  &-arrow-left:before {
    content: "\e907";
  }
  &-arrow-right:before {
    content: "\e908";
  }
  &-sorting:before {
    content: "\e909";
  }
  &-loading:before {
    content: "\e90a";
  }
}