@import '../service/service'

.ui
    &-button
        display: inline-block
        // min-height: 50px
        width: 270px
        max-width: 100%
        padding: 16px 26px
        text-align: center
        font-weight: 500
        border-radius: $radius-button
        transition: background-color 0.5s, color 0.5s
        @media (max-width: 767px)
            padding: 15px 24px
        @media (max-width: 575px)
            padding: 14px 22px
        @media (max-width: 479px)
            width: 100%
        &.has-emoji
            display: flex
            justify-content: center
            .emoji
                margin-left: 0.7em

    &-search
        display: flex
        width: 200px
        padding: 6px 12px
        border-radius: $radius-button
        .icon-search
            margin-right: 8px
        input
            border: none
        input::-webkit-textfield-decoration-container
            background-color: color(grey-light)

    &-icon-button
        padding: 5px 8px
        line-height: 1
        transition: background-color 0.5s, color 0.5s
        
    &-icon-button._turn-sound
        &.is-sound-off
            .icon-sound-on
                display: none
            .icon-sound-off
                display: block
        &.is-sound-on
            .icon-sound-on
                display: block
            .icon-sound-off
                display: none

    &-arrow-left,
    &-arrow-right
        width: em(54)
        height: em(54)
        background-color: color(white)
        color: color(grey)
        border-radius: 50%
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
        transition: 0.3s
        &:hover
            color: color(cyan)