html {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a, button, input {
  outline: none;
}

.bar {
  background-image: url("../img/back-rect-1-small.jpg");
  height: 85px;
}

.bar__logo {
  height: 85px;
}

.bar__logo img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border-left: 4px white solid;
  border-right: 4px white solid;
}

.bar__site-name {
  margin-top: 15px;
  margin-bottom: 0px;
}

.bar__site-subtitle {
  margin-top: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  color: #f64747;
}

.bar .call-me {
  text-align: right;
  margin-top: 15px;
}

.bar .call-me__phone {
  color: #393939;
  font-weight: 400;
  font-size: 16px;
}

.bar .call-me__phone_big {
  font-size: 1.3em;
  font-weight: bold;
}

.bar .call-me__icon, .bar .call-me__arrow, .bar .call-me__text {
  display: inline;
  margin-left: 2px;
  height: 15px;
  margin-top: 0;
  padding-top: 0;
}

.bar .call-me__icon {
  width: 15px;
}

.bar .call-me__arrow {
  color: #f64747;
  font-size: 20px;
}

.bar .call-me__text {
  font-size: 14px;
  font-weight: 300;
  color: #f64747;
  border-bottom: 1px dashed #f64747;
}

.bar .call-me__text:hover {
  border-style: none;
  cursor: pointer;
}

.header {
  padding-bottom: 70px;
}

.header__title {
  font-family: 'Roboto Condensed', 'Roboto';
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #7d3803;
  font-size: 56px;
  font-weight: 700;
}

.header__subtitle {
  text-align: center;
  margin-top: 10px;
  color: #272727;
  font-family: 'Roboto Condensed', 'Roboto';
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__main-image {
  position: relative;
}

.header__main-image img {
  position: absolute;
  top: 0;
  right: 20px;
  width: 750px;
}

.offer input, .offer button {
  border-radius: 5px;
  border: none;
}

.offer input {
  height: 45px;
  color: #292929;
  font-size: 14px;
  margin-bottom: 7px;
  padding: 10px 40px 10px 15px;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.offer input:placeholder {
  color: #2f2f2f;
}

.offer__name {
  background-image: url("../img/icon-name.png");
}

.offer__mail {
  background-image: url("../img/icon-mail.png");
}

.offer__phone {
  background-image: url("../img/icon-tel.png");
}

.offer__submit {
  height: 57px;
  font-family: 'Roboto Condensed', 'Roboto';
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: -webkit-box-shadow .9s;
  transition: -webkit-box-shadow .9s;
  transition: box-shadow .9s;
  transition: box-shadow .9s, -webkit-box-shadow .9s;
  -webkit-box-shadow: 0px -2px 4px 0 #028678 inset, 0 -30px 40px 0 rgba(2, 150, 120, 0.9) inset, 1px 1px 3px 0 #028678 inset, -1px 0px 3px 0 #028678 inset;
          box-shadow: 0px -2px 4px 0 #028678 inset, 0 -30px 40px 0 rgba(2, 150, 120, 0.9) inset, 1px 1px 3px 0 #028678 inset, -1px 0px 3px 0 #028678 inset;
  background-color: #0fd9b6;
}

.offer__submit:hover {
  -webkit-box-shadow: 0px -1px 3px 0 #028678 inset, 0 -20px 30px 0 rgba(2, 150, 120, 0.2) inset, 1px 1px 3px 0 #028678 inset, -1px 0px 3px 0 #028678 inset;
          box-shadow: 0px -1px 3px 0 #028678 inset, 0 -20px 30px 0 rgba(2, 150, 120, 0.2) inset, 1px 1px 3px 0 #028678 inset, -1px 0px 3px 0 #028678 inset;
}

.offer-confident {
  margin: 15px auto 0;
  height: 30px;
  text-align: center;
}

.offer-confident * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.offer-confident__text {
  margin: 0 3px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  width: 75%;
}

.top-offer {
  width: 315px;
  border: 5px solid #fdf1cf;
  background-color: #f64747;
  padding: 10px 20px 20px;
  position: relative;
}

.top-offer::before {
  position: absolute;
  height: 300px;
  width: 18vw;
  background: url("../img/header-grains.jpg") no-repeat right bottom;
  background-size: contain;
  content: '';
  bottom: 10%;
  left: 236px;
  z-index: -2;
}

.top-offer__title {
  text-align: center;
  color: #fdf1cf;
  font-family: 'Roboto Condensed', 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
}

.top-offer .offer-confident {
  width: 100%;
}

.top-offer form input, .top-offer form button {
  display: block;
  width: 100%;
}

.top-offer form button {
  margin-top: 12px;
}

.top-offer form .status {
  color: #fff;
}

.middle-offer {
  background-image: url("../img/back-rect-2-small.jpg");
}

.middle-offer .section__subtitle-image {
  background-image: url("../img/subtitle-logo-white.png");
}

.middle-offer .section__title {
  color: white;
}

.middle-offer .offer-confident {
  width: 265px;
}

.middle-offer form {
  text-align: center;
}

.middle-offer form input, .middle-offer form button {
  width: 265px;
}

.middle-offer form input {
  display: inline-block;
  margin: 12px;
}

.middle-offer form button {
  display: block;
  margin: 12px auto 0;
}

.middle-offer form .status {
  color: #fff;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #1b1b1b;
  font-family: 'Roboto Condensed', 'Roboto';
  font-size: 32px;
  font-weight: 400;
}

.section__subtitle-image {
  display: block;
  margin: 7px auto 20px;
  height: 20px;
  background: url("../img/subtitle-logo.png") no-repeat center center;
  background-size: 40px;
}

.our-foto {
  background-color: #fdf1cf;
}

.our-foto__text {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 10px;
}

.our-foto__left-side {
  position: relative;
  z-index: 2;
  text-align: right;
  padding-right: 20px;
}

.our-foto__left-side::before {
  position: absolute;
  content: url("../img/slider-back-grains-1.png");
  z-index: -1;
  bottom: 5px;
  right: -10px;
}

.our-foto__left-side img {
  border: 5px solid white;
  max-width: 100%;
}

.our-foto .slider {
  width: 550px;
  height: 320px;
  margin-left: auto;
  margin-right: 0;
}

.our-foto .slider__item {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 320px;
}

.our-foto .slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-foto .slider__dots {
  list-style: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 3px 20px;
  border-radius: 3px;
  width: 160px;
}

.our-foto .slider__dots li {
  display: inline;
  margin: 0 4px;
}

.our-foto .slider__dots button {
  color: #fff;
  background-color: #fff;
  font-size: 10.5px;
  border: none;
  height: 12px;
  width: 12px;
}

.our-foto .slider__dots .slick-active button {
  color: #f64747;
  background-color: #f64747;
}

.our-foto .slider__arrow {
  position: absolute;
  z-index: 99;
  width: 23px;
  height: 23px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 18px;
}

.our-foto .slider__prev {
  left: 50%;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  background: url(../img/arrow-prev.png) center no-repeat;
}

.our-foto .slider__next {
  right: 50%;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  background: url(../img/arrow-next.png) center no-repeat;
}

.plus-in-video__left-side {
  position: relative;
}

.plus-in-video__left-side img {
  position: absolute;
  bottom: -60px;
  right: 0;
  z-index: -1;
}

.plus-in-video__video-block {
  position: relative;
}

.plus-in-video__video-block::after {
  content: url("../img/advantages-grains.jpg");
  position: absolute;
  left: 81%;
  bottom: 10%;
  z-index: -1;
}

.plus-in-video__video-item {
  width: 620px;
  height: 400px;
  border: 3px #fdf1cf solid;
  border-radius: 5px;
}

.advantages {
  background-color: #fdf1cf;
}

.advantages__item {
  color: #1b1b1b;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages__icon {
  float: left;
  margin-top: 7px;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  width: 77%;
  margin: 5px 0 8px auto;
}

.advantages__text {
  font-size: 15px;
  font-weight: 300;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
  width: 77%;
}

.catalog .section__subtitle-image {
  margin-bottom: 5px;
}

.catalog__card {
  padding: 10px 15px 23px;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid transparent;
}

.catalog__card:hover {
  border-color: #d6d6d6;
}

.section.catalog, .section.advantages {
  padding-bottom: 30px;
}

.product {
  text-align: center;
}

.product__image {
  max-width: 100%;
  height: 120px;
}

.product__name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product__text {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
}

.product__button {
  padding: 15px 20px;
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #f64747;
  color: #f64747;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.product__button:hover {
  background-color: #f64747;
  color: #ffffff;
}

.about {
  background-color: #fdf1cf;
}

.about .section__subtitle-image {
  margin-bottom: 10px;
}

.about__text {
  margin-top: 10px;
  margin-bottom: 12px;
}

.about__video-block {
  text-align: center;
  margin-top: 30px;
  background: url("../img/about-video-back.png") no-repeat center bottom;
}

.about__video-item {
  width: 460px;
  height: 265px;
  border: 3px #fdf1cf solid;
  border-radius: 5px;
}

.many-bread__item {
  margin-bottom: -5px;
}

.many-bread img {
  width: 100%;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.many-bread img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.map-container {
  width: 100%;
  height: 500px;
}

.map-container {
  position: relative;
  cursor: pointer;
  background: url("../img/map-before-load.jpg") center center no-repeat;
  background-size: cover;
}

.map-container #map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

.map-container .loader {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #000000;
  -webkit-transition: opacity .7s ease;
  transition: opacity .7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.map-container .loader:after, .map-container .loader:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-container .loader.is-active {
  top: 0;
  opacity: 1;
  z-index: 15;
}

.map-container .loader-default:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 48px;
  height: 48px;
  content: '';
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.placemark {
  color: #363636;
  padding-top: 15px;
  padding-bottom: 10px;
}

.placemark__image {
  display: inline-block;
  width: 33%;
}

.placemark__image img {
  width: 100%;
}

.placemark__info {
  width: 63%;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin-left: 4%;
}

.placemark__title {
  font-weight: bold;
  text-transform: uppercase;
}

.placemark__text {
  margin-top: 10px;
  margin-bottom: 0;
}

.placemark__tel {
  color: #363636;
}

.placemark__mail {
  color: #f64747;
  text-decoration: underline;
}

footer {
  padding-top: 35px;
  padding-bottom: 40px;
  min-height: 150px;
  background-color: #363636;
  color: #fefefe;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

footer .socials-like {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 700px;
  min-width: 300px;
}

footer .socials-like__item {
  display: inline-block;
  width: 40%;
}

footer img {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.shadow-bottom {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.shadow-bottom::before {
  position: absolute;
  content: url("../img/shadow-left.png");
  bottom: 0;
  left: -25px;
  z-index: 0;
}

.shadow-bottom::after {
  position: absolute;
  content: url("../img/shadow-right.png");
  bottom: 0;
  right: -25px;
  z-index: 0;
}

.popup {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup__content {
  position: relative;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.popup__close {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 3rem;
  color: black;
  border: none;
  background: transparent;
  cursor: pointer;
}

.product-info {
  color: #1b1b1b;
  display: none;
}

.product-info__content {
  width: 600px;
  padding: 40px;
  background-color: white;
}

.product-info__title {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.product-info__image {
  max-width: 100%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.product-info__text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.call-offer__content {
  background-image: url("../img/back-rect-2-small.jpg");
  width: 380px;
  padding: 40px 50px;
}

.call-offer .popup__close {
  color: white;
  font-size: 2rem;
}

.call-offer__title {
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 22px;
  color: white;
  text-align: center;
  text-transform: none;
  margin-top: 5px;
  margin-bottom: 20px;
}

.call-offer form input, .call-offer form button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.call-offer form button {
  margin-top: 20px;
}

.call-offer form .status {
  color: white;
}

.thanks__content {
  width: 320px;
  background-color: #fff;
  padding-bottom: 1px;
}

.thanks .popup__close {
  color: #fff;
  font-size: 2rem;
}

.thanks__header {
  background-image: url("../img/back-rect-2-small.jpg");
  padding: 1px 40px;
}

.thanks__title {
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 22px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 10px;
}

.thanks__text {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}

@media (max-width: 1419px) {
  .top-offer::before, .our-foto__left-side::before, .plus-in-video__video-block::after {
    content: none;
  }
  .top-offer {
    width: 100%;
  }
  .plus-in-video__left-side img {
    right: -120px;
    width: 140%;
  }
  .plus-in-video__video-block {
    text-align: center;
  }
  .advantages__item {
    padding-left: 0;
    padding-right: 0;
  }
  .advantages__icon {
    width: 17%;
  }
  .advantages__title {
    width: 80%;
  }
  .advantages__text {
    width: 80%;
  }
}

@media (max-width: 1199px) {
  .header__main-image img {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .header__title {
    font-size: 45px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .top-offer {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .our-foto__left-side {
    padding-right: 15px;
  }
  .our-foto__text {
    margin-bottom: 20px;
  }
  .our-foto .slider, .our-foto .slider__item {
    width: 400px;
    height: 235px;
  }
  .our-foto .slider {
    max-width: 100%;
  }
  .plus-in-video__left-side img {
    right: -20px;
    width: 120%;
  }
  .plus-in-video__video-item {
    width: 50vw;
    height: 32vw;
  }
  .many-bread__item:nth-child(3n) {
    display: none;
  }
  .map-container {
    height: 400px;
  }
}

@media (max-width: 991px) {
  .top-offer {
    width: 320px;
  }
  .middle-offer form input {
    display: block;
    margin: 0px auto 12px;
  }
  .plus-in-video__left-side {
    display: none;
  }
  .plus-in-video__video-block {
    text-align: center;
  }
  .plus-in-video__video-item {
    width: 78vw;
    height: 50vw;
  }
  .our-foto__text:first-child {
    margin-top: 20px;
  }
  .our-foto .slider, .our-foto .slider__item {
    width: 550px;
    height: 320px;
  }
  .our-foto .slider {
    margin-right: auto;
  }
  .our-foto__left-side, .plus-in-video__video-block, .header__offer {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
  .about__video-block {
    background-size: contain;
  }
}

@media (max-width: 767px) {
  .bar__logo img {
    margin-right: auto;
  }
  .bar__site-name {
    margin-top: 10px;
    font-size: 23px;
  }
  .bar__site-subtitle {
    font-size: 12px;
  }
  .bar .call-me {
    margin-top: 15px;
    padding: 0;
    font-size: 14px;
  }
  .bar .call-me__icon, .bar .call-me__arrow {
    display: none;
  }
  .top-offer {
    max-width: 500px;
  }
  .top-offer::before {
    content: none;
  }
  .our-foto .slider, .our-foto .slider__item {
    width: 510px;
    height: 290px;
  }
  .about__video-item {
    width: 80vw;
    height: 46vw;
  }
  .about__video-block {
    background: none;
  }
  .many-bread__item:nth-child(3n) {
    display: block;
  }
  .many-bread__item:nth-child(2n) {
    display: none;
  }
  .map-container {
    height: 350px;
  }
  .placemark__image {
    width: 30%;
  }
  .placemark__info {
    width: 67%;
    font-size: 13px;
    margin-left: 3%;
  }
  .product-info__content {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .shadow-bottom::after, .shadow-bottom::before {
    content: none;
  }
  .bar {
    height: 80px;
  }
  .bar__site-name {
    margin-top: 15px;
    margin-left: -15px;
  }
  .bar__site-name img {
    height: 18px;
  }
  .bar__site-subtitle {
    display: none;
  }
  .bar .call-me {
    padding: 0 15px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: -40px;
    text-align: left;
  }
  .bar .call-me__phone {
    font-size: 12px;
  }
  .bar .call-me__request {
    display: none;
  }
  .header__title {
    font-size: 35px;
  }
  .header__subtitle {
    font-size: 16px;
    text-transform: none;
  }
  .our-foto .slider, .our-foto .slider__item {
    width: 430px;
    height: 260px;
  }
  .about__video-block {
    margin-top: 15px;
  }
  .plus-in-video__video-item {
    width: 90vw;
    height: 58vw;
  }
  .about__video-item {
    width: 90vw;
    height: 52vw;
  }
  .section {
    padding-bottom: 40px;
  }
  .section__title {
    font-size: 25px;
  }
  .placemark__info {
    width: 64%;
    font-size: 12px;
    margin-left: 3%;
  }
}

@media (max-width: 479px) {
  .header {
    padding-bottom: 40px;
  }
  .header__title {
    font-size: 26px;
    margin-top: 25px;
  }
  .header__main-image {
    display: none;
  }
  .bar {
    height: 75px;
  }
  .bar__logo {
    height: 75px;
  }
  .bar__logo img {
    max-width: 90%;
  }
  .bar__site-name {
    margin-top: 15px;
    margin-left: -15px;
  }
  .bar__site-name img {
    height: 15px;
  }
  .bar .call-me {
    margin-top: -30px;
  }
  .bar .call-me__request {
    display: none;
  }
  .top-offer {
    width: 100%;
  }
  .middle-offer form input, .middle-offer form button {
    max-width: 100%;
  }
  .offer-confident {
    margin-bottom: 0;
  }
  .offer-confident__text {
    margin: 0 auto;
    width: 100%;
  }
  .offer-confident img {
    display: none;
  }
  .section {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .section__title {
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
  }
  .section__subtitle-image {
    margin-bottom: 10px;
  }
  .our-foto__text {
    font-size: 14px;
  }
  .our-foto .slider, .our-foto .slider__item {
    width: 290px;
    height: 200px;
  }
  .our-foto .slider__dots {
    bottom: -5px;
  }
  .our-foto .slider__dots li {
    font-size: 12px;
  }
  .our-foto .slider__dots button {
    height: 11px;
    width: 11px;
    padding: 0;
  }
  .our-foto .slider__arrow {
    bottom: 13px;
  }
  .advantages {
    text-align: center;
  }
  .advantages__icon {
    width: 30%;
    float: none;
  }
  .advantages__title {
    font-size: 20px;
    font-weight: normal;
  }
  .advantages__title, .advantages__text {
    width: auto;
    margin-left: auto;
  }
  .map-container {
    height: 250px;
  }
  .placemark {
    padding: 0;
  }
  .placemark__image {
    width: 27%;
  }
  .placemark__text {
    margin-top: 5px;
  }
  .placemark__info {
    width: 68%;
  }
  .thanks__content {
    width: 300px;
    max-width: 90%;
  }
  .thanks__header {
    padding: 1px 25px;
  }
  .thanks__title {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 7px;
  }
  .thanks__text {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */