@import '../service/service'

.card
    border-radius: $radius-card
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: em(173) 5px auto
    background-color: color(white)
    @include card-box-shadow
    &__img
        border-radius: $radius-card $radius-card 0 0
        overflow: hidden
        a
            width: 100%
            height: 100%
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
        img
            min-width: 100%
            min-height: 100%
            object-fit: cover
    &__info
        display: flex
        flex-direction: column
        padding: 11px 15px 23px 15px

    // TODO
    &__progress
        background-color: color(grey)
        overflow: hidden
        hr
            height: 100%
            background-color: color(cyan)

    &__title
        display: flex
        flex-wrap: nowrap
        @include font(700, 16px)
        margin-bottom: 9px
        .ui-icon-button._bookmark
            font-size: 1.3em
            align-self: flex-start
            margin-right: -8px
            color: color(grey)
            .icon-bookmark-filled
                color: color(grey)
        @media (hover: hover)
            .ui-icon-button._bookmark:hover
                color: color(primary)

    @media (hover: hover)
        &__title>a:hover,
        &__img:hover ~ &__info &__title>a
            color: color(primary)

    &__author,
    &__desc
        @include font(300, 14px)
        margin-bottom: 9px
    &__author
        font-weight: 100
    &__money
        @include font(400, 18px)
        margin-top: auto
        padding-top: 25px
        &-total
            @include font(300, 12px)
            color: color(grey-dark)
    &__timing
        margin: 12px 0 10px
        @include font(300, 16px)
    &__ps
        display: flex
        flex-wrap: wrap
        @include font(300, 14px)
        >*
            margin-top: 10px
            &:first-child
                margin-right: 16px
        img
            font-size: 10px
            max-width: 7.6em
            max-height: 1.4em

.card._vertical-img
    grid-template-columns: 1fr 5px 1fr
    grid-template-rows: 1fr    
    .card__progress hr
        width: 100%
    .card__img
        border-radius: $radius-card 0 0 $radius-card

@media (max-width: 575px)
    .card._vertical-img
        grid-template-columns: 1fr
        grid-template-rows: em(173) auto
        .card__img
            border-radius: $radius-card $radius-card 0 0


@media (max-width: 575px)
    .card
        grid-template-rows: em(173) auto
        &__progress
            display: none
        &__info
            padding: 8px 8px 15px
            >*
                font-size: 12px
        &__title .ui-icon-button._bookmark
            display: none
        &__title,
        &__author,
        &__desc
            margin-bottom: 6px
        &__money
            font-size: 16px
            padding-top: 20px
        &__timing
            margin-top: 10px
        &__ps
            >*:first-child
                margin-right: 12px
            img
                font-size: 8px
    .card.span-2 .card__title
        font-size: 15px

