@import '../service/service'

.card
    border-radius: $radius-card
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 173px 5px auto
    background-color: color(white)
    @include card-box-shadow
    &__img
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        border-radius: $radius-card $radius-card 0 0
        img
            min-width: 100%
            min-height: 100%
            object-fit: cover
    
    &__info
        display: flex
        flex-direction: column
        padding: 15px 15px 23px 15px
        > *:not(:last-child)
            margin-bottom: 8px
    // TODO
    &__progress // для примера
        background-color: color(cyan)
    
    &__title
        @include font(700, 16px)
        display: flex
        flex-wrap: nowrap
        .ui-icon-button._bookmark
            align-self: flex-start
            margin-right: -8px
            color: color(grey)
        a:hover,
        .ui-icon-button._bookmark:hover
            color: color(blue)
    &__author
        @include font(100, 14px)
    &__desc
        @include font(300, 14px)
        
    &__money
        @include font(400, 18px)
        margin-top: auto
        padding-top: 40px
        &-total
            @include font(100, 12px)
            color: color(grey)
    &__timing
        margin-top: 15px
        @include font(300, 16px)
    
    &__ps
        margin: 20px 0 0
        display: flex
        @include font(100, 14px)
        img
            max-width: 76px
            max-height: 14px
            margin-left: 16px

.card
    &._big 
        grid-column: span 2
    &._vertical-img
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
    &._vertical-img &__img
        border-radius: $radius-card 0 0 $radius-card
    &._vertical-img &__progress
        display: none
