@import '../service/service'

.card
    border-radius: $radius-card
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: em(173) 5px auto
    background-color: color(white)
    @include card-box-shadow
    &__img
        border-radius: $radius-card $radius-card 0 0
        overflow: hidden
        a
            width: 100%
            height: 100%
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
        img
            min-width: 100%
            min-height: 100%
            object-fit: cover
    
    &__info
        display: flex
        flex-direction: column
        padding: em(15) em(15) em(23) em(15)
        // padding: 15px 15px 23px 15px
        > *:not(:last-child)
            // margin-bottom: 8px
    // TODO
    &__progress // для примера
        background-color: color(grey)
        overflow: hidden
        hr
            height: 100%
            background-color: color(cyan)
    
    &__title
        display: flex
        flex-wrap: nowrap
        @include font(700, 16px)
        .ui-icon-button._bookmark
            font-size: 1.3em
            align-self: flex-start
            margin-right: -8px
            color: color(grey)
            .icon-bookmark-filled
                color: color(grey)
        @media (hover: hover)
            .ui-icon-button._bookmark:hover
                color: color(primary)

    @media (hover: hover)
        &__title>a:hover,
        &__img:hover ~ &__info &__title>a
            color: color(primary)

    &__author
        @include font(100, 14px)
    &__desc
        @include font(300, 14px)
    &__title,
    &__author,
    &__desc
       margin-bottom: 9px

    &__money
        @include font(400, 18px)
        margin-top: auto
        padding-top: 25px
        &-total
            @include font(300, 12px)
            color: color(grey-dark)
    &__timing
        margin: 12px 0 10px
        @include font(300, 16px)
    
    &__ps
        display: flex
        flex-wrap: wrap
        @include font(100, 14px)
        >*
            margin-top: 10px
            &:first-child
                margin-right: 16px
        img
            font-size: 10px
            max-width: 7.6em
            max-height: 1.4em

.card
    &._big 
        grid-column: span 2
    &._vertical-img
        grid-template-columns: 1fr 5px 1fr
        grid-template-rows: 1fr
    &._vertical-img &__progress hr
        width: 100%

    &._vertical-img &__img
        border-radius: $radius-card 0 0 $radius-card
    &._vertical-img &__progress
        // display: none

@media (max-width: 575px)
    .card
        &__info > *
            font-size: 12px
        &__title .ui-icon-button._bookmark
            display: none
        &__title,
        &__author,
        &__desc
            margin-bottom: 5px
        &__money
            font-size: 16px
            padding-top: 20px
        &__timing
            margin-top: 10px
        &__ps
            >*:first-child
                margin-right: 12px
            img
                font-size: 8px
