@import '../service/service'

.control-content
    margin: em(25) 0
    &__subjects
    &__status
        display: flex
        margin: 15px 0 29px

    &__sorting
        display: flex
        margin-right: 27px

    &__filter
        display: flex
        margin: 20px 0 25px
        
        