@import '../service/service'

.main
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-rows: minmax(400px, auto)
    grid-gap: 35px
    margin: 13px 0 20px
    @media (max-width: 1199px)
        grid-template-columns: 100%
        grid-template-rows: minmax(380px, auto)
        margin-top: 0

@import 'main-banner'
@import 'sm-cards'
