.reward
    border-radius: $radius-card
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 173px auto
    background-color: color(white)
    @include card-box-shadow
    &__img
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        border-radius: $radius-card $radius-card 0 0
        img
            min-width: 100%
            min-height: 100%
            object-fit: cover
    &__info
        display: flex
        flex-direction: column
        padding: 15px 15px 23px 15px
        > *:not(:last-child)
            margin-bottom: 8px
    &__title
        @include font(700, 20px)
        // @include line-limit(3)
        a:hover
            color: color(blue)
    &__desc
        // @include line-limit(5)
    &__author
        @include font(100, 14px)
    &__desc,
    &__timing
        @include font(300, 14px)
    &__price
        @include font(700, 30px)
        margin-top: auto
        padding-top: 30px
        &-old
            @include font(300, 14px)
            color: color(grey)
            margin-left: 5px
            text-decoration: line-through    
    &__buy
        font-size: 20px
        margin: 23px 0 0
        text-transform: uppercase
        color: color(blue)

// подразделение на типы карточек
.reward
    &._big
        grid-column: span 2
    &._vertical-img
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
    &._vertical-img &__img
        border-radius: $radius-card 0 0 $radius-card

    // с заданным фоном на заднем плане
    &._img-on-bg // horizontal on default
        .reward__img
            justify-content: center;
            align-items: baseline;
        img
            max-width: 85%;
            height: 200%;
            min-height: auto;
            min-width: auto;
            transform: translateY(10px);
            object-fit: contain
    
    &._img-on-bg._vertical-img
        .reward__img
            justify-content: flex-start;
            align-items: center;
        img
            max-width: 200%;
            height: 85%;
            transform: translateX(10px);
