@import '../service/service'

.sm-cards
    display: grid
    grid-template-rows: minmax(77px, auto)
    grid-gap: 16px
    padding: 25px 0
    &__item
        position: relative
        display: grid
        grid-template-columns: 78px auto
        grid-gap: 14px
        @media (hover: hover)
            a:hover
                color: color(primary)
        a::after
            position: absolute
            content: ''
            top: 0
            right: 0
            bottom: 0
            left: 0
    img
        width: 77px
        height: 77px
        object-fit: cover
        border-radius: $radius-banner
    &__info
        // font-size: 16px
    &__title
        font-weight: 700
        margin-bottom: 7px
        // для проставления ... если название слишком длинное
        @include line-limit(2)
    &__author
        font-weight: 100

@media (max-width: 1199px)
    .sm-cards
        grid-template-columns: 1fr 1fr
        padding-top: 0

@media (max-width: 767px)
    .sm-cards__title
        -webkit-line-clamp: 3
@media (max-width: 575px)
    .sm-cards
        grid-template-columns: 117px
        grid-auto-columns: minmax(117px, auto)
        padding-top: 0
        overflow-x: auto
        grid-auto-flow: column
        img
            width: 116px
            height: 116px
        &__item
            grid-template-columns: 1fr
            grid-gap: 8px
        &__info
            font-size: 12px
        
    