// иконки соцсетей
.socials-row
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    li
        padding: 0 0.5em
        text-align: center
        font-size: 28px
        &:first-child
            padding-left: 0
        &:last-child
            padding-right: 0
    .icon
        font-size: 1em
        &.icon-vcru
            font-size: 0.6em
        &.icon-vkontakte
            font-size: 0.7em
        &.icon-twitter
            font-size: 0.8em
        &.icon-telegram
            font-size: 0.9em

.socials-row._gradient
    li .icon
        color: color(primary)
        background-image: linear-gradient(180deg, color(primary) 0%, color(cyan) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

// отдельный блок
.socials-big
    margin: 35px 8px 40px
    @media (max-width: 575px)
        margin: 15px 8px 20px
    li
        text-align: center
        font-size: 72px
        @media (max-width: 1199px)
            font-size: 55px
        @media (max-width: 991px)
            font-size: 40px
        @media (max-width: 767px)
            font-size: 33px
            padding: 0 0.4em
        @media (max-width: 575px)
            font-size: 40px
        
@media (max-width: 575px)
    .socials-row
        justify-content: space-between
        li
            min-width: 23%
            padding: 0.3em 0
