@import '../service/service'

.special
    padding: em(23) 0 em(35)
    &__heading
        margin-bottom: 16px
        line-height: 1.2
    &__title,
    &__look-all
        @include font(500, 18px)
        display: inline
    &__title
        margin-right: 14px
    &__look-all
        // margin-left: 14px
        color: color(primary)
