@import '../service/service'

.special
    padding: em(23) 0 em(35)
    &__heading
        margin-bottom: 16px
        line-height: 1.2
    &__title,
    &__look-all
        @include font(500, 18px)
        display: inline
    &__title
        margin-right: 14px
    &__look-all
        color: color(primary)

    .slider__wrapper
        margin-left: -$container-padding
        margin-right: -$container-padding
    .slider__row
        padding: 0 $container-padding
    @media (max-width: 575px)
        .slider__wrapper
            margin: 0px -14px
        .slider__row
            padding: 0 14px
