html {
  font-family: Roboto, Arial, sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 1.3;
  background-color: #f5ede796;
}

.section {
  padding: 50px 0 50px;
}

.section__title {
  padding: 0 15px;
  font-size: 42px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
  letter-spacing: 1px;
}

.s-text_linked {
  color: #739535;
  font-weight: bold;
  text-decoration: underline;
}

.nav {
  background-color: rgba(61, 38, 18, 0.65);
  color: #ffffff;
  position: absolute;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  z-index: 5;
}

.nav.active {
  background-color: #594a3c;
}

.nav.active .menu {
  display: block;
  height: auto;
}

.nav__menu-caption {
  display: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  cursor: pointer;
}

.nav__logo {
  padding-top: 14px;
  padding-bottom: 10px;
  margin-left: -100px;
}

.nav__logo-img {
  margin: auto;
  display: block;
  height: 55px;
}

.nav__logo-text {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.nav .menu {
  height: 100%;
  list-style-type: none;
  letter-spacing: 1px;
  font-size: 24px;
  margin: 0;
  margin-right: -100px;
  padding: 0;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 20px 26px;
  text-decoration: none;
  height: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.nav .menu__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav__share {
  background: url("../img/menu-share.png") center center no-repeat;
  background-size: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}

.nav__share a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav__share:hover {
  border-radius: 50%;
}

.main {
  background: #988574 url("../img/main-bg.jpg") right bottom no-repeat;
  background-size: cover;
  padding-top: 270px;
  padding-bottom: 140px;
}

.main__wrapper {
  padding: 0 30px;
}

.main__title {
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1;
}

.main__subtitle {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.main__subtitle-line {
  margin-bottom: 1em;
}

.main__button {
  background-color: #739535;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  padding: 20px 70px;
  margin-top: 53px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main__button:hover {
  background-color: #82a83c;
}

.about {
  background-color: #f5ede796;
  font-size: 18px;
  padding-top: 70px;
}

.about__text:first-child {
  margin-top: 0;
}

.about__text:last-child {
  margin-bottom: 0;
}

.about__text-container {
  padding: 45px 35px 45px 15px;
}

.about__foto-container {
  padding: 0 30px;
}

.about__foto-item {
  margin: auto;
  display: block;
}

.about__foto-item_short {
  display: none;
}

.about__foto-caption {
  text-align: center;
  font-size: 16px;
}

.advantages {
  font-size: 1rem;
}

.advantages__item {
  padding: 22px 20px;
}

.advantages__icon {
  margin: auto;
  display: block;
  height: 80px;
}

.advantages__title {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  min-height: 40px;
  margin-bottom: 10px;
}

.advantages__description {
  margin-bottom: 0;
  text-align: justify;
}

.awards {
  background-color: #f5ede796;
}

.awards__postscript {
  text-align: center;
}

.awards .award {
  text-align: center;
  padding: 0 15px;
  outline: none;
}

.awards .award__image {
  display: block;
  margin: auto;
  width: 140px;
}

.awards .award__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.awards .award__subtitle {
  margin-top: 5px;
}

.awards .slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px auto 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.awards .slider__dots button {
  color: transparent;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #739535;
  background-color: transparent;
  margin: 0 6px;
  padding: 0;
}

.awards .slider__dots .slick-active button {
  background-color: #739535;
}

.share-offer {
  background: #9d5724 url("../img/share-bg.jpg") center center no-repeat;
  color: #ffffff;
}

.share-offer__text {
  text-align: center;
  font-size: 24px;
  margin: 40px 0 20px;
}

.share-offer__buttons {
  text-align: center;
}

.shops.section {
  padding-bottom: 0;
}

.shops__map {
  height: 400px;
  width: 100%;
}

.shops__city {
  background-color: #d0d0d0;
  color: #282828;
  cursor: pointer;
  padding: 15px 10px 15px 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bold;
}

.shops__city .active, .shops__city:hover {
  background-color: #b9b9b9;
}

.shops__city:after {
  content: '\002B';
  color: #333;
  font-weight: bold;
  float: left;
  width: 40px;
  height: 30px;
}

.shops__city.active:after {
  content: "\2212";
}

.shops__addresses {
  background-color: #fff;
  padding: 0;
  padding-left: 15px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.shops-addresses__list {
  list-style: none;
  padding: 0;
}

.shops-addresses__list-item {
  padding: 7px 10px 0;
}

.contact__map {
  min-height: 400px;
}

.contact__info {
  line-height: 1.7;
  padding: 20px;
}

.footer {
  background-color: #3c2d1f;
  text-align: center;
  padding: 40px 40px 46px;
  color: #ffffff;
}

.footer__main, .footer__webmaster {
  margin: 0;
}

.footer__main {
  margin-bottom: 15px;
}

.footer__webmaster-link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 1399px) {
  .nav .menu {
    margin-right: 0;
  }
  .nav__logo {
    margin-left: 0;
  }
  .nav__share {
    right: -10%;
  }
}

@media (max-width: 1199px) {
  .nav__logo-img {
    height: 47px;
  }
  .nav .menu {
    font-size: 20px;
  }
  .main {
    padding-top: 200px;
    padding-bottom: 80px;
  }
  .main__title {
    font-size: 80px;
    margin-bottom: 30px;
  }
  .main__subtitle {
    font-size: 26px;
  }
  .main__button {
    font-size: 26px;
    padding: 15px 50px;
    margin-top: 53px;
  }
  .about__text-container {
    padding: 25px 5px 0 15px;
  }
  .advantages__item {
    padding: 20px 30px;
  }
  .advantages__icon {
    max-height: 80px;
  }
  .shops .container, .contact .container {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .section__title {
    font-size: 38px;
  }
  .nav .menu {
    font-size: 18px;
    letter-spacing: normal;
  }
  .nav .menu__link {
    padding: 16px 20px;
  }
  .main__subtitle, .main__button {
    font-size: 23px;
  }
  .about__text-container {
    padding: 15px 15px 0 0;
  }
  .about__foto-container {
    padding: 0;
  }
  .about__foto-item {
    display: none;
  }
  .about__foto-item_short {
    display: block;
  }
  .about__foto-caption {
    font-size: 16px;
  }
  .advantages__item {
    padding: 20px 25px;
  }
  .share-offer__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .section__title {
    font-size: 34px;
    margin-bottom: 25px;
  }
  .nav {
    height: 80px;
  }
  .nav__logo-img {
    height: 50px;
  }
  .nav__logo-text {
    display: none;
  }
  .nav__menu-caption {
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .nav .menu {
    display: none;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .nav .menu__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav.active {
    height: 320px;
  }
  .nav.active .menu {
    height: auto;
  }
  .nav__share {
    right: 2%;
    -webkit-transform: none;
            transform: none;
    top: -55px;
  }
  .main {
    background: #3d2713 url("../img/main-bg-mobile.jpg") left top no-repeat;
    background-size: cover;
  }
  .advantages__item {
    padding: 23px 50px;
  }
  .advantages__title {
    min-height: auto;
    margin-top: 15px;
  }
  .about__text-container {
    padding: 0;
    margin-bottom: 40px;
  }
  .about__foto-item {
    display: block;
  }
  .about__foto-item_short {
    display: none;
  }
}

@media (max-width: 575px) {
  .section__title {
    font-size: 30px;
  }
  .main {
    background: #3d2713 url("../img/main-bg-mobile.jpg") center bottom no-repeat;
    padding-top: 170px;
  }
  .main__title {
    font-size: 60px;
  }
  .main__subtitle, .main__button {
    font-size: 20px;
  }
  .advantages__item {
    padding: 23px 30px;
  }
  .advantages__icon {
    max-height: 90px;
  }
  .about {
    font-size: 16px;
  }
  .about__text-container, .about__foto-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__foto-caption {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .section__title {
    font-size: 26px;
  }
  .nav__logo-img {
    height: 45px;
  }
  .nav__share {
    background-size: 23px;
    right: 3%;
  }
  .main__wrapper {
    padding: 0 20px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__subtitle, .main__button {
    font-size: 18px;
  }
  .advantages__item {
    padding: 20px;
  }
  .advantages__icon {
    max-height: 80px;
  }
  .advantages__description {
    font-size: 14px;
  }
  .share-offer__text {
    font-size: 18px;
  }
  .shops__city {
    padding: 15px 15px 15px 25px;
  }
  .shops__city:after {
    width: 35px;
  }
  footer {
    padding: 40px 15px 46px;
  }
}
