
/* COLORS */

$colors: (
    white: #fff,
    black: #000,
    grey: #C4C4C4,
    grey-light: #F6F6F6,
    grey-light-2: #E6E9ED,
    grey-dark: #8d8d8d,
    grey-darker: #53565A,

    primary: #0087F7,

    yellow: #FFC83A,
    yellow-light: #FCD770,

    cyan: #21DDB9,
    cyan-light: #7DDEDE,

    peach: #FFC5B3,
    beige: #FFBE83,
    pink: #FE7D90,

    red: #E41E0A
    
);

// font settings
$base-font-size: 16px;
$base-font-family: 'Museo Sans Cyrl', 'Roboto', Arial, sans-serif;;
$font-family-rotonda: 'Rotonda', 'Roboto', Arial, sans-serif;

// for border-radius
$radius-card: em(11);
$radius-button: em(40);
$radius-banner: em(15);


// grid variables
$container-max-width: 1280px;
$container-padding: em(50);
$grid-gap: em(20);


// размеры ширины экрана
$media-sizes: (
    xl: $container-max-width,
    lg: 1200px,
    md: 992px,
    sm: 768px,
    xs: 576px
);
